/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;500;600&display=swap');

html{
    scroll-behavior: smooth;
}
.primary-font{
    font-family: 'Poppins', sans-serif;;
}
.secondary-font{
    font-family: 'Montserrat', sans-serif;;
}
.brand-color{
    color: #E76F51;
}
.brand-bg{
    background-color: #E76F51;
}
.full-border{
    border: 1px solid #E76F51;
}
.bottom-border{
    border-bottom: 1px solid #E76F51;
}
.fs-14{
    font-size: 14px;
}
/* header css */
.bg-header,.bg-nav{
    background-color: #264653;
}
.w-logo{
    width: 100px;
}

/* feature bikes css */
.bike-gray{
    filter: grayscale(100%);
}

/* news section css */
.btn-hover{
    transition: all 0.3s ease-in;
}
.btn-hover:hover{
    background-color: #E76F51;
    color: white;
}

/* contact css */
#contact{
    background: url(./images/contact-bg.jpg) left top no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* go top */
.fa-hand-point-up{
    color: #264653;
    font-size: 32px;
    right: 20px;
    bottom: 20px;
}